# Database
POSTGRES_USER=nha
POSTGRES_PASSWORD=nha_pass
POSTGRES_DB=nha_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Prisma
DATABASE_URL=postgresql://nha:nha_pass@localhost:5432/nha_dev?schema=public
