# Node
node_modules/
pnpm-lock.yaml

# Next.js
.next/
out/

# NestJS
dist/

# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Environment
.env
.env.local

# VS Code
.vscode/

# OS
Thumbs.db
desktop.ini

# Docker
**/docker-compose.override.yml
docker-compose.override.yml
